section.consultation{
  background-color: azure;
}
.consultationForm{
  width: 50%;
  max-width: 430px;
  background-color: #fff;
  border: 1px solid #ebedec;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  transition: 0.8s;
  will-change: height;
  .modalHeader{
    padding: 20px;
    h1{
      color: #8d949e;
      font-size: 24px;
      margin-bottom: 10px;
    }
  }
  form{
    flex-grow: 1;
    .row{
      padding: 20px;
      border-top: 1px solid #ebedec;
      display: flex;
      flex-direction: column;
      &:last-child{
        border-bottom: 1px solid #ebedec;
      }
      .input{
        display: flex;
        align-items: center;
        input{
          flex-grow: 1;
          border: none;
          color: #0795e2 !important;
          background-color: unset !important;
        }
        .selectorContainer{
          flex-grow: 1;
        }
        label{
          width: 35%;
          color: #8d949e;
        }
      }
      .notValid{
        display: block;
        overflow: hidden;
        box-sizing: border-box;
        color: red;
        span{
          display: block;
          padding-top: 15px;
        }
      }
    }
  }
  .modalFooter{
    padding: 20px;
    .permission{
      display: flex;
      align-items: center;
      justify-content: center;
      column-gap: 20px;
      margin-bottom: 20px;
      user-select: none;
      .checkbox{
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20px;
        height: 20px;
        border: 1px solid #c8ebfd;
        background-color: #f4fbff;
        border-radius: 5px;
        transition: 0.2s;
        &.checked{
          background-color: #d1efff;
        }
        &:hover{
          box-shadow: 0 0 6px #c3eaff;
        }
      }
    }
    .send{
      width: 100%;
      border: none;
      border-radius: 10px;
      padding: 10px 15px;
      color: #fff;
      background-color: #4ed401;
      &:hover{
        background-color: #62ea14;
      }
      &:disabled{
        background-color: grey;
      }
    }
  }
  button.closeButton{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    overflow: hidden;
    padding: unset;
    border: none;
    cursor: pointer;
    &:hover svg{
      color: crimson !important;
    }
  }
  .sentForm{
    padding: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    animation: show 0.5s ease-in forwards;
    will-change: opacity;
    box-sizing: border-box;
    .img-holder{
      width: 50%;
      img{
        width: 100%;
      }
    }
    &.pending{
      .img-holder{
        animation: loading 0.5s steps(8, start) infinite;
        img{
          transform: translateX(-2.2%);
        }
      }
      @keyframes loading {
        100%{transform: rotate(360deg)}
      }
    }
    &.sent{
      .sentMessage{
        display: flex;
        flex-direction: column;
        row-gap: 15px;
        text-align: center;
        margin-top: 25px;
        h2{
          font-size: 27px;
          color: #0795e2;
        }
        span{
          margin-top: 15px;
          font-size: 20px;
          color: #8d949e;
        }
      }
      img{
        transform: none;
      }
    }
  }
  @keyframes show {
    100%{opacity: 1}
  }
}