@use "./../../global/vars";
body{
  * {
    font-family: 'Comfortaa', sans-serif;
  }
  .wrapper{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow-x: hidden;
    .animation-container{
      display: flex;
      flex-direction: column;
      flex-grow: 1;
    }
    //font-family: 'Lack';
    main{
      display: flex;
      flex-direction: column;
    }
    .container{
      width: 90%;
      margin: 0 auto;
      display: flex;
    }
    hr{
      background-color: #000;
      border: none;
      margin: 30px 0;
      &.short{
        width: 25%;
      }
      &.semiWidth{
        width: 50%;
      }
      &.long{
        width: 100%;
      }
      &.thin{
        height: 2px;
      }
      &.semiBold{
        border-radius: 6px;
        height: 6px;
      }
    }
    main {
      flex-grow: 1;
      section {
        padding: 80px 0;
        //&:last-child{
        //  padding-bottom: 70px;
        //}
        &.content {
          display: flex;
          flex-direction: column;
          align-items: center;
          padding-top: 80px;
        }
        .titleContainer {
          display: flex;
          flex-direction: column;
          align-items: center;
          text-align: center;
          width: 50%;
          .title {
            font-weight: 600;
            font-size: 40px;
            margin-bottom: 30px;
            line-height: 1.3;
            background: linear-gradient(90.67deg, #9E8D68 26.97%, #C7BAA0 87.78%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            color: transparent;
            position: relative;
          }
          .description {
            font-size: 22px;
            line-height: 1.5;
          }
        }
      }
    }
  }
  .iconHolder{
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
