body{
  .wrapper{
    display: flex;
    flex-direction: column;
    position: relative;
    hr{
      background-color: #000;
      border: none;
      margin: 30px 0;
      &.short{
        width: 25%;
      }
      &.semiWidth{
        width: 50%;
      }
      &.long{
        width: 100%;
      }
      &.thin{
        height: 2px;
      }
      &.semiBold{
        border-radius: 6px;
        height: 6px;
      }
    }
    main {
      flex-grow: 1;
      section {
        &:last-child{
          padding-bottom: 70px;
        }
        &.content {
          display: flex;
          flex-direction: column;
          align-items: center;
          padding-top: 80px;
          .textContent{
            line-height: 1.5;
            font-size: 20px;
            width: 80%;
            p{
              margin-bottom: 20px;
            }
          }
        }
        .titleContainer {
          display: flex;
          flex-direction: column;
          align-items: center;
          text-align: center;
          width: 50%;
          .title {
            font-weight: 600;
            font-size: 40px;
            color: #000;
            margin-bottom: 30px;
            line-height: 1.3;
          }
          .description {
            font-size: 22px;
            line-height: 1.5;
          }
        }
      }
    }
  }
}
