.questions{
  .question-answer{
    width: 60%;
    padding: 0 20px;
    .questionItem{
      display: flex;
      flex-direction: column;
      &:not(:last-child){
        border-bottom: 1px solid #ebedec;
      }
      .question{
        display: flex;
        align-items: center;
        position: relative;
        padding: 10px 0;
        height: 50px;
        border: none;
        font-size: 25px;
        font-weight: 500;
        background-color: unset;
        box-sizing: content-box;
        .cross{
          display: flex;
          justify-content: center;
          align-items: center;
          width: 30px;
          height: 30px;
          position: absolute;
          right: 30px;
          transition: 0.4s;
          &:before,&:after{
            content: '';
            position: absolute;
            width: 100%;
            height: 1px;
            background-color: #000;
          }
          &:after{
            transform: rotate(90deg);
          }
        }
      }
      .answer{
        display: flex;
        align-items: flex-start;
        height: 40px;
        transition: 0.5s;
        overflow: hidden;
      }
      &.closed{
        .answer{
          height: 0;
        }
      }
      &.opened{
        .question{
          .cross{
            transform: rotate(45deg);
          }
        }
      }
    }
  }
}