.categoriesList{
  .container{
    flex-direction: column;
    align-items: center;
  }
  .titleContainer{
    margin-bottom: 40px;
  }
  .title{
    margin-bottom: 100px;
    h2{
      text-align: center;
      font-size: 40px;
    }
  }
  .list{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 70px;
  }
}