.item_select:hover{
  .headerModal{
    max-height: 500px;
  }
}
.item_select_label{
  display: flex;
  align-items: center;
  column-gap: 5px;
}
.headerModal{
  position: absolute;
  display: flex;
  align-items: flex-start;
  top: 120%;
  background-color: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(4px);
  cursor: default;
  border-radius: 10px;
  overflow: hidden;
  max-height: 0;
  transition: 0.3s ease-out;
  .subCategoriesAndCourses{
    display: flex;
    align-items: flex-start;
  }
  .submenuColumn{
    display: flex;
    flex-direction: column;
    &:not(:last-child){
      border-right: 1px solid #ebedec;
    }
    &.first{
      width: 200px;
    }
    &.second{
      width: 200px;
    }
    .subItem{
      cursor: pointer;
      padding: 20px;
      &:not(:last-child){
        border-bottom: 1px solid #ebedec;
      }
    }
  }
  .divider{
    height: 100%;
    width: 1px;
    background-color: #ebedec;
  }
}