header{
  width: 100%;
  position: sticky;
  top: 0;
  background-color: rgba(235, 237, 236, .5);
  border-bottom: 1px solid rgba(128, 128, 128, 0.19);
  display: flex;
  align-items: stretch;
  column-gap: 50px;
  z-index: 10;
  .logo{
    height: 100%;
    width: 100px;
    background-color: rgb(255, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  nav{
    display: flex;
    align-items: center;
    flex-grow: 1;
    column-gap: 10px;
    .navItems {
      display: flex;
      column-gap: 20px;
      .item {
        cursor: pointer;
        position: relative;
        .navButton{
          border: none;
          background-color: unset;
        }
      }
    }
    a{
      display: flex;
      align-items: center;
      &:visited{
        color: unset;
      }
    }
  }
}