@use './../../../global/vars';
.home{
  .about{
    color: #000 !important;
    .container{
      column-gap: 15px;
    }
    .img-holder{
      flex-basis: 40%;
      background-color: grey;
    }
    .textBlock{
      flex-basis: 60%;
      text-align: center;
      .title{
        font-size: 50px;
        line-height: 1.2;
        margin-bottom: 50px;
      }
      .textContent{
        line-height: 1.2;
        font-size: 22px;
      }
        p{
          margin-bottom: 20px;
        }
    }
  }
  .categoriesList{
    padding: 0 0 80px 0;
    position: relative;
    overflow: hidden;
    &:before{
      content: '';
      position: absolute;
      width: 150%;
      height: 100%;
      border-top-right-radius: 50%;
      border-top-left-radius: 50%;
      background: -webkit-linear-gradient(180deg, rgb(17, 17, 17), rgb(39, 39, 39));
      background: -moz-linear-gradient(180deg, rgb(17, 17, 17), rgb(39, 39, 39));
      background: linear-gradient(180deg, rgb(17, 17, 17), rgb(39, 39, 39));
    }
    .titleContainer{
      margin-top: 100px;
    }
  }
  .preferences{
  }
  .questions{
  }
  .backgroundSection{
    background-color: #232323;
    color: vars.$main_text_color;
  }
}