.categoryTile{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  position: relative;
  .categoryLabel{
    width: 162px;
    height: 221px;
    background-color: #ebedec;
    border-radius: 40px 0;
    overflow: hidden;
    margin-bottom: 15px;
  }
  .categoryTile_title{
    font-size: 22px;
    font-weight: 400;
    color: #fff;
    position: relative;
    z-index: 1;
  }
  .background{
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 0;
    img{
      width: 100%;
      height: 100%;
      transition: 0.3s;
    }
  }
  &:hover{
    .background img{
      transform: scale(1.1);
    }
  }
}