@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&display=swap');
@font-face {
    font-family: 'Lack Line';
    src: url('./assets/fonts/Lack-Line-Regular.woff2') format('woff2'),
    url('./assets/fonts/Lack-Line-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Lack';
    src: url('./assets/fonts/Lack-Regular.woff2') format('woff2'),
    url('./assets/fonts/Lack-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Mak';
    src: url('./assets/fonts/Mak-Bold.woff2') format('woff2'),
    url('./assets/fonts/Mak-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}