
.poster{
  width: 100%;
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  box-sizing: border-box;
  .posterContent{
    max-width: 60%;
    color: #fff;
    @media screen and (max-width: 500px){
      max-width: unset;
    }
    .title {
      font-family: "Comfortaa", sans-serif;
      font-weight: 600;
      font-size: 60px;
      margin-bottom: 20px;
      line-height: 1.3;
      @media screen and (max-width: 500px){
        font-size: 45px;
      }
    }
    .description {
      font-weight: 400;
      font-size: 30px;
      line-height: 1.5;
      @media screen and (max-width: 500px){
        font-size: 22px;
      }
    }
    .child{
      margin-top: 80px;
    }
  }
  .img-holder{
    overflow: hidden;
    width: 100%;
    height: 100%;
    &.background{
      width: 150%;
      border-radius: 0 0 50% 50%;
      top: 0;
      position: absolute;
      z-index: -1;
      height: 100%;
      background-color: grey;
      @media screen and (max-width: 500px){
        width: 250%;
      }
    }
    .background-img{
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 220px;
      color: rgba(0, 0, 0, 0.03);
    }
    img{
      width: 100%;
    }
  }
}