.poster{
  width: 100%;
  min-height: calc(100vh - 100px);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  box-sizing: border-box;
  .posterContent{
    .title {
      font-weight: 600;
      font-size: 40px;
      color: #000;
      margin-bottom: 20px;
      line-height: 1.3;
    }
    .description {
      font-size: 22px;
      line-height: 1.5;
    }
    .child{
      margin-top: 15px;
    }
  }
  .img-holder{
    overflow: hidden;
    width: 100%;
    height: 100%;
    &.background{
      top: 0;
      position: absolute;
      z-index: -1;
      height: 100%;
      background-color: grey;
    }
    .background{
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 220px;
      color: rgba(0, 0, 0, 0.03);
    }
    img{
      width: 100%;
    }
  }
}