@use "./../../../global/vars";
button{
  &.consultation{
    //background-color: #4ed401;
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    transition: background-color 0.2s;
    display: flex;
    justify-content: center;
    align-items: center;
    background: vars.$main_button_gradient_color;
    span{
      padding: 0 10px;
    }
    &.big{
      font-size: 20px;
      position: relative;
      overflow: hidden;
      @media screen and (max-width: 500px){
        width: 100%;
      }
      &:after{
        display: none;
        content: '';
        position: absolute;
        left: -15%;
        width: 0;
        height: 200%;
        transform: rotate(30deg);
        -webkit-box-shadow: 0 0 23px 15px rgba(255, 255, 255, 0.31);
        -moz-box-shadow: 0 0 23px 15px rgba(255, 255, 255, 0.31);
        box-shadow: 0 0 23px 15px rgba(255, 255, 255, 0.31);
        @keyframes shine {
          0%{left: -15%}
          100%{left: 120%}
        }
      }
      &:hover:after{
        display: block;
        animation: shine 0.4s linear forwards;
      }
    }
    &.small{
      padding: 15px;
      border-radius: 50%;
      opacity: 0.5;
      transition: 0.3s opacity;
      &:hover{
        opacity: 1;
      }
      svg{
        pointer-events: none;
      }
    }
    &:hover{
      background-color: #62ea14;
    }
    &:active{
      background-color: #4ed401;
    }
  }
}
.buttonHolder{
  position: fixed;
  will-change: bottom;
  right: 20px;
}